{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "description": "Documentation for the Bookstore API",
        "contact": {
            "email": "admin@example.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/detailpesanan": {
            "get": {
                "tags": [
                    "Detail Pesanan"
                ],
                "summary": "Get list of detail pesanan",
                "description": "Retrieve a list of all detail pesanan",
                "operationId": "getDetailPesanan",
                "responses": {
                    "200": {
                        "description": "List of detail pesanan retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "List of Detail Pesanan"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "id_pesanan": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "id_produk": {
                                                        "type": "integer",
                                                        "example": 5
                                                    },
                                                    "jumlah": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "subtotal": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 15000
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2024-04-23T10:00:00.000000Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2024-04-23T10:00:00.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Detail Pesanan"
                ],
                "summary": "Create a new Detail Pesanan",
                "description": "Store a new detail pesanan in the database",
                "operationId": "createDetailPesanan",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id_pesanan",
                                    "id_produk",
                                    "jumlah",
                                    "subtotal"
                                ],
                                "properties": {
                                    "id_pesanan": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "id_produk": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "jumlah": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "subtotal": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 30000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Detail Pesanan created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Detail Pesanan created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "id_pesanan": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "id_produk": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "jumlah": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "subtotal": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 30000
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            }
        },
        "/api/detailpesanan/{id}": {
            "get": {
                "tags": [
                    "Detail Pesanan"
                ],
                "summary": "Get Detail Pesanan by ID",
                "description": "Retrieve a single detail pesanan by its ID",
                "operationId": "getDetailPesananById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail Pesanan found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Detail Pesanan found"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "id_pesanan": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "id_produk": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "jumlah": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "subtotal": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 30000
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Detail Pesanan not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Detail Pesanan"
                ],
                "summary": "Update existing Detail Pesanan",
                "description": "Update jumlah atau subtotal dari detail pesanan berdasarkan ID",
                "operationId": "updateDetailPesanan",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "jumlah": {
                                        "type": "integer",
                                        "example": 4
                                    },
                                    "subtotal": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 60000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Detail Pesanan updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Detail Pesanan updated successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "id_pesanan": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "id_produk": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "jumlah": {
                                                    "type": "integer",
                                                    "example": 4
                                                },
                                                "subtotal": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 60000
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Detail Pesanan not found"
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Detail Pesanan"
                ],
                "summary": "Delete Detail Pesanan by ID",
                "description": "Hapus data detail pesanan berdasarkan ID",
                "operationId": "deleteDetailPesanan",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail Pesanan deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Detail Pesanan deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Detail Pesanan not found"
                    }
                }
            }
        },
        "/api/category": {
            "get": {
                "tags": [
                    "kategory"
                ],
                "summary": "Get list of kategories",
                "description": "Retrieve a list of book categories",
                "operationId": "getCategories",
                "responses": {
                    "200": {
                        "description": "List of categories retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "List of Kategori"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "nama_kategori": {
                                                        "type": "string",
                                                        "example": "Fiction"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "kategory"
                ],
                "summary": "Create a new Kategori",
                "description": "Store a new kategori into the database",
                "operationId": "createCategory",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nama_kategori"
                                ],
                                "properties": {
                                    "nama_kategori": {
                                        "type": "string",
                                        "example": "Fiction"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Kategori created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Kategori created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nama_kategori": {
                                                    "type": "string",
                                                    "example": "Fiction"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/category/{id}": {
            "get": {
                "tags": [
                    "kategory"
                ],
                "summary": "Get a Kategori by ID",
                "description": "Retrieve a single kategori by ID",
                "operationId": "getCategoryById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Kategori found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Kategori found"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nama_kategori": {
                                                    "type": "string",
                                                    "example": "Fiction"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Kategori not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "kategory"
                ],
                "summary": "Update a Kategori",
                "description": "Update an existing kategori's name",
                "operationId": "updateCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nama_kategori": {
                                        "type": "string",
                                        "example": "Novel"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Kategori updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Kategori updated successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nama_kategori": {
                                                    "type": "string",
                                                    "example": "Novel"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Kategori not found"
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            },
            "delete": {
                "tags": [
                    "kategory"
                ],
                "summary": "Delete a Kategori by ID",
                "description": "Remove a kategori from the system",
                "operationId": "deleteCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Kategori deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Kategori deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Kategori not found"
                    }
                }
            }
        },
        "/api/laporan-penjualan": {
            "get": {
                "tags": [
                    "Laporan Penjualan"
                ],
                "summary": "Menampilkan semua laporan penjualan",
                "operationId": "cfc8a57924f7de8b32813ef579b4d095",
                "responses": {
                    "200": {
                        "description": "List of Laporan Penjualan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Laporan Penjualan"
                ],
                "summary": "Membuat laporan penjualan baru",
                "operationId": "95aee6235fe25dd358efc771823f2408",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id_pesanan",
                                    "id_pembayaran",
                                    "periode",
                                    "total_penjualan",
                                    "total_pendapatan",
                                    "tanggal_laporan"
                                ],
                                "properties": {
                                    "id_pesanan": {
                                        "type": "integer"
                                    },
                                    "id_pembayaran": {
                                        "type": "integer"
                                    },
                                    "periode": {
                                        "type": "string"
                                    },
                                    "total_penjualan": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "total_pendapatan": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "tanggal_laporan": {
                                        "type": "string",
                                        "format": "date"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Laporan Penjualan created successfully"
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            }
        },
        "/api/laporan-penjualan/{id}": {
            "get": {
                "tags": [
                    "Laporan Penjualan"
                ],
                "summary": "Menampilkan detail laporan penjualan",
                "operationId": "d276f3cb68787356b34d36b7b26809f4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Laporan Penjualan found"
                    },
                    "404": {
                        "description": "Laporan Penjualan not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Laporan Penjualan"
                ],
                "summary": "Mengupdate laporan penjualan",
                "operationId": "6c32ecf501155229de99ad07c2ea8396",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id_pesanan": {
                                        "type": "integer"
                                    },
                                    "id_pembayaran": {
                                        "type": "integer"
                                    },
                                    "periode": {
                                        "type": "string"
                                    },
                                    "total_penjualan": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "total_pendapatan": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "tanggal_laporan": {
                                        "type": "string",
                                        "format": "date"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Laporan Penjualan updated successfully"
                    },
                    "404": {
                        "description": "Laporan Penjualan not found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Laporan Penjualan"
                ],
                "summary": "Menghapus laporan penjualan",
                "operationId": "60983d0d32eb52395febfdee44616ae0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Laporan Penjualan deleted successfully"
                    },
                    "404": {
                        "description": "Laporan Penjualan not found"
                    }
                }
            }
        },
        "/api/pelanggan": {
            "get": {
                "tags": [
                    "Pelanggan"
                ],
                "summary": "Menampilkan semua pelanggan",
                "operationId": "8547da5bacf0db329ece7952408a2cb0",
                "responses": {
                    "200": {
                        "description": "List of Pelanggan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Pelanggan"
                ],
                "summary": "Membuat pelanggan baru",
                "operationId": "9aaf4b06c9c6cfd8a2a53ff7b05b460e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nama_pelanggan",
                                    "email",
                                    "password",
                                    "alamat",
                                    "nomor_telepon"
                                ],
                                "properties": {
                                    "nama_pelanggan": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "alamat": {
                                        "type": "string"
                                    },
                                    "nomor_telepon": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Pelanggan created successfully"
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            }
        },
        "/api/pelanggan/{id}": {
            "get": {
                "tags": [
                    "Pelanggan"
                ],
                "summary": "Menampilkan detail pelanggan berdasarkan ID",
                "operationId": "4d083e81f6fb1f887a8ba3565d74a77b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pelanggan found"
                    },
                    "404": {
                        "description": "Pelanggan not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Pelanggan"
                ],
                "summary": "Mengupdate data pelanggan",
                "operationId": "8b7908b04c2dcd172562f4b176b82202",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nama_pelanggan": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "alamat": {
                                        "type": "string"
                                    },
                                    "nomor_telepon": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Pelanggan updated successfully"
                    },
                    "422": {
                        "description": "Validation errors"
                    },
                    "404": {
                        "description": "Pelanggan not found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Pelanggan"
                ],
                "summary": "Menghapus pelanggan",
                "operationId": "5fb925ac6bc3e79c48882171c250a4e6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pelanggan deleted successfully"
                    },
                    "404": {
                        "description": "Pelanggan not found"
                    }
                }
            }
        },
        "/api/pembayaran": {
            "get": {
                "tags": [
                    "Pembayaran"
                ],
                "summary": "Menampilkan semua pembayaran",
                "operationId": "b59db8649f14a4f1c15060ab304a629b",
                "responses": {
                    "200": {
                        "description": "List of Pembayaran",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Pembayaran"
                ],
                "summary": "Membuat pembayaran baru",
                "operationId": "edddbd797bca437acb54ce1f2b046691",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id_pesanan",
                                    "id_pelanggan",
                                    "metode_pembayaran",
                                    "status_pembayaran",
                                    "tanggal_pembayaran",
                                    "total_pembayaran"
                                ],
                                "properties": {
                                    "id_pesanan": {
                                        "type": "integer"
                                    },
                                    "id_pelanggan": {
                                        "type": "integer"
                                    },
                                    "metode_pembayaran": {
                                        "type": "string"
                                    },
                                    "status_pembayaran": {
                                        "type": "string"
                                    },
                                    "tanggal_pembayaran": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "total_pembayaran": {
                                        "type": "number",
                                        "format": "float"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Pembayaran created successfully"
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            }
        },
        "/api/pembayaran/{id}": {
            "get": {
                "tags": [
                    "Pembayaran"
                ],
                "summary": "Menampilkan detail pembayaran berdasarkan ID",
                "operationId": "d32380c171eaf74c989e66f61e2e1aa5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pembayaran found"
                    },
                    "404": {
                        "description": "Pembayaran not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Pembayaran"
                ],
                "summary": "Mengupdate data pembayaran",
                "operationId": "4debc47d41004fa1272c6f9e244fc1fd",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id_pesanan": {
                                        "type": "integer"
                                    },
                                    "id_pelanggan": {
                                        "type": "integer"
                                    },
                                    "metode_pembayaran": {
                                        "type": "string"
                                    },
                                    "status_pembayaran": {
                                        "type": "string"
                                    },
                                    "tanggal_pembayaran": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "total_pembayaran": {
                                        "type": "number",
                                        "format": "float"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Pembayaran updated successfully"
                    },
                    "422": {
                        "description": "Validation errors"
                    },
                    "404": {
                        "description": "Pembayaran not found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Pembayaran"
                ],
                "summary": "Menghapus pembayaran",
                "operationId": "70d6765ba080cb87bb03129e195fa424",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pembayaran deleted successfully"
                    },
                    "404": {
                        "description": "Pembayaran not found"
                    }
                }
            }
        },
        "/api/pesanan": {
            "get": {
                "tags": [
                    "Pesanan"
                ],
                "summary": "Menampilkan semua pesanan",
                "operationId": "e8fda01f6834f4165dbf98102a4baddc",
                "responses": {
                    "200": {
                        "description": "List of Pesanan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Pesanan"
                ],
                "summary": "Membuat pesanan baru",
                "operationId": "12113622b562a4e339236b9dc40c2d24",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id_pelanggan",
                                    "tanggal_pesanan",
                                    "status_pesanan",
                                    "total_harga"
                                ],
                                "properties": {
                                    "id_pelanggan": {
                                        "type": "integer"
                                    },
                                    "tanggal_pesanan": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "status_pesanan": {
                                        "type": "string"
                                    },
                                    "total_harga": {
                                        "type": "number",
                                        "format": "float"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Pesanan created successfully"
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            }
        },
        "/api/pesanan/{id}": {
            "get": {
                "tags": [
                    "Pesanan"
                ],
                "summary": "Menampilkan detail pesanan berdasarkan ID",
                "operationId": "27dd7a4568171bf0e61eec531d4fce0b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pesanan found"
                    },
                    "404": {
                        "description": "Pesanan not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Pesanan"
                ],
                "summary": "Mengupdate data pesanan",
                "operationId": "391002baffa9df13d5f27b610c783520",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id_pelanggan": {
                                        "type": "integer"
                                    },
                                    "tanggal_pesanan": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "status_pesanan": {
                                        "type": "string"
                                    },
                                    "total_harga": {
                                        "type": "number",
                                        "format": "float"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Pesanan updated successfully"
                    },
                    "422": {
                        "description": "Validation errors"
                    },
                    "404": {
                        "description": "Pesanan not found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Pesanan"
                ],
                "summary": "Menghapus pesanan",
                "operationId": "c075f472b0de2dc6a30fdc834bd006a0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pesanan deleted successfully"
                    },
                    "404": {
                        "description": "Pesanan not found"
                    }
                }
            }
        },
        "/api/produk": {
            "get": {
                "tags": [
                    "Produk"
                ],
                "summary": "Menampilkan semua produk",
                "operationId": "82be1cfb35a47c9a1908501faad2fe91",
                "responses": {
                    "200": {
                        "description": "List of Produk",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Produk"
                ],
                "summary": "Membuat produk baru",
                "operationId": "f5c50d3af3d9a2689821c4c6ea313cc5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nama_produk",
                                    "deskripsi",
                                    "harga",
                                    "stok",
                                    "id_kategori"
                                ],
                                "properties": {
                                    "nama_produk": {
                                        "type": "string"
                                    },
                                    "deskripsi": {
                                        "type": "string"
                                    },
                                    "harga": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "stok": {
                                        "type": "integer"
                                    },
                                    "id_kategori": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Produk created successfully"
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            }
        },
        "/api/produk/{id}": {
            "get": {
                "tags": [
                    "Produk"
                ],
                "summary": "Menampilkan detail produk berdasarkan ID",
                "operationId": "8d795c6c96c869876803d9b62ed02820",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Produk found"
                    },
                    "404": {
                        "description": "Produk not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Produk"
                ],
                "summary": "Mengupdate data produk",
                "operationId": "1b02fbf6cf518c68d4b3bd597d9ca2a9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nama_produk": {
                                        "type": "string"
                                    },
                                    "deskripsi": {
                                        "type": "string"
                                    },
                                    "harga": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "stok": {
                                        "type": "integer"
                                    },
                                    "id_kategori": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Produk updated successfully"
                    },
                    "422": {
                        "description": "Validation errors"
                    },
                    "404": {
                        "description": "Produk not found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Produk"
                ],
                "summary": "Menghapus produk",
                "operationId": "1c8c6cacbfdbc48c6f718a3b6832b279",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Produk deleted successfully"
                    },
                    "404": {
                        "description": "Produk not found"
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Laporan Penjualan",
            "description": "Laporan Penjualan"
        },
        {
            "name": "Pelanggan",
            "description": "Pelanggan"
        },
        {
            "name": "Pembayaran",
            "description": "Pembayaran"
        },
        {
            "name": "Pesanan",
            "description": "Manajemen Pesanan"
        },
        {
            "name": "Produk",
            "description": "Manajemen Produk"
        },
        {
            "name": "Detail Pesanan",
            "description": "Detail Pesanan"
        },
        {
            "name": "kategory",
            "description": "kategory"
        }
    ]
}