{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "description": "Documentation for the Bookstore API",
        "contact": {
            "email": "admin@example.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/detailpesanan": {
            "get": {
                "tags": [
                    "Detail Pesanan"
                ],
                "summary": "Get list of detail pesanan",
                "description": "Retrieve a list of all detail pesanan",
                "operationId": "getDetailPesanan",
                "responses": {
                    "200": {
                        "description": "List of detail pesanan retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "List of Detail Pesanan"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "id_pesanan": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "id_produk": {
                                                        "type": "integer",
                                                        "example": 5
                                                    },
                                                    "jumlah": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "subtotal": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 15000
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2024-04-23T10:00:00.000000Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2024-04-23T10:00:00.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Detail Pesanan"
                ],
                "summary": "Create a new Detail Pesanan",
                "description": "Store a new detail pesanan in the database",
                "operationId": "createDetailPesanan",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id_pesanan",
                                    "id_produk",
                                    "jumlah",
                                    "subtotal"
                                ],
                                "properties": {
                                    "id_pesanan": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "id_produk": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "jumlah": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "subtotal": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 30000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Detail Pesanan created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Detail Pesanan created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "id_pesanan": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "id_produk": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "jumlah": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "subtotal": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 30000
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            }
        },
        "/api/detailpesanan/{id}": {
            "get": {
                "tags": [
                    "Detail Pesanan"
                ],
                "summary": "Get Detail Pesanan by ID",
                "description": "Retrieve a single detail pesanan by its ID",
                "operationId": "getDetailPesananById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail Pesanan found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Detail Pesanan found"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "id_pesanan": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "id_produk": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "jumlah": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "subtotal": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 30000
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Detail Pesanan not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Detail Pesanan"
                ],
                "summary": "Update existing Detail Pesanan",
                "description": "Update jumlah atau subtotal dari detail pesanan berdasarkan ID",
                "operationId": "updateDetailPesanan",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "jumlah": {
                                        "type": "integer",
                                        "example": 4
                                    },
                                    "subtotal": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 60000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Detail Pesanan updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Detail Pesanan updated successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "id_pesanan": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "id_produk": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "jumlah": {
                                                    "type": "integer",
                                                    "example": 4
                                                },
                                                "subtotal": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 60000
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Detail Pesanan not found"
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Detail Pesanan"
                ],
                "summary": "Delete Detail Pesanan by ID",
                "description": "Hapus data detail pesanan berdasarkan ID",
                "operationId": "deleteDetailPesanan",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detail Pesanan deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Detail Pesanan deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Detail Pesanan not found"
                    }
                }
            }
        },
        "/api/category": {
            "get": {
                "tags": [
                    "kategory"
                ],
                "summary": "Get list of kategories",
                "description": "Retrieve a list of book categories",
                "operationId": "getCategories",
                "responses": {
                    "200": {
                        "description": "List of categories retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "List of Kategori"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "nama_kategori": {
                                                        "type": "string",
                                                        "example": "Fiction"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "kategory"
                ],
                "summary": "Create a new Kategori",
                "description": "Store a new kategori into the database",
                "operationId": "createCategory",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nama_kategori"
                                ],
                                "properties": {
                                    "nama_kategori": {
                                        "type": "string",
                                        "example": "Fiction"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Kategori created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Kategori created successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nama_kategori": {
                                                    "type": "string",
                                                    "example": "Fiction"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/category/{id}": {
            "get": {
                "tags": [
                    "kategory"
                ],
                "summary": "Get a Kategori by ID",
                "description": "Retrieve a single kategori by ID",
                "operationId": "getCategoryById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Kategori found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Kategori found"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nama_kategori": {
                                                    "type": "string",
                                                    "example": "Fiction"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Kategori not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "kategory"
                ],
                "summary": "Update a Kategori",
                "description": "Update an existing kategori's name",
                "operationId": "updateCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nama_kategori": {
                                        "type": "string",
                                        "example": "Novel"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Kategori updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Kategori updated successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nama_kategori": {
                                                    "type": "string",
                                                    "example": "Novel"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Kategori not found"
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            },
            "delete": {
                "tags": [
                    "kategory"
                ],
                "summary": "Delete a Kategori by ID",
                "description": "Remove a kategori from the system",
                "operationId": "deleteCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Kategori deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Kategori deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Kategori not found"
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Detail Pesanan",
            "description": "Detail Pesanan"
        },
        {
            "name": "kategory",
            "description": "kategory"
        }
    ]
}